:root {
  /* Primary colors */
  --dark-primary: #161d30;
  --primary-color: #2a324b;
  --ligth-primary: #424a63;

  /* Secondary colors */
  --secondary-color: #4bc0d9;
  --secondary-accent: #6290c3;
  --secondary-hover-button: #55d5f2;

  /* Semantic colors */
  --success: #20bf55;
  --danger: #bf0603;
  --warning: #e0ca3c;
  --info: #226ce0;

  /* Text color */
  --text-color: #212529;

  /* Neutral colors */
  --grey1: #616467;
  --grey2: #8d8f91;
  --grey3: #b9babb;
  --grey4: #e3e4e4;
  --background-grey: #f5f5f5;
  --white: #ffffff;

  /* Shadows */
  --card-shadow: 0 3px 4px 2px rgba(33, 37, 41, 0.05);
  --tooltip-shadow: 0 3px 3px 1px rgba(33, 37, 41, 0.2);
  --top-nav-shadow: 0 3px 4px 2px rgba(33, 37, 41, 0.15);
  --modal-shadow: 0 7px 10px 4px rgba(33, 37, 41, 0.2);

  /* Layer */
  --layer: rgb(42, 50, 75, 70);
}
