@import url('colors.css');

body {
  font-family: 'Nunito Sans' !important;
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/photos/back.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content-log {
  display: -webkit-flex;
  display: flex;
}

.logo {
  width: 356px;
  height: auto;
}

.slogan {
  margin-top: 100px;
}

.slogan p {
  font-family: 'Lato' !important;
  opacity: 0.9;
  font-size: 28px;
  font-weight: 300;
  line-height: normal;
  color: var(--background-grey);
}

.slogan p b {
  font-weight: 400;
  color: var(--secondary-color);
}

.login-box {
  background-color: var(--background-grey);
  box-shadow: var(--card-shadow);
  padding: 30px !important;
}

header {
  font-family: 'Lato' !important;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  color: var(--secondary-color);
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 30px !important;
}

input {
  border-radius: 3px !important;
  border: solid 1px var(--grey4) !important;
  background-color: #f5f5f5 !important;
}

input:focus {
  border: solid 1px var(--secondary-accent) !important;
  box-shadow: none !important;
}

label {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0px !important;
}

::placeholder {
  font-family: 'Nunito Sans';
  font-weight: 200;
  font-size: 14px !important;
  line-height: 1.79 !important;
  color: var(--grey2) !important;
}

small {
  margin-top: 8px !important;
  text-align: right;
}

.restore {
  color: var(--secondary-accent) !important;
  font-size: 14px;
  font-weight: 200;
  text-decoration: underline;
}

.restore:hover {
  color: var(--secondary-color) !important;
  transition: color .25s;
}

.options {
  margin-top: 50px;
  display: -webkit-flex;
  display: flex;
}

.social {
  margin-right: 10px;
  width: 42px;
  height: 42px;
  border: solid 1px var(--grey4) !important;
  display: flex;
}

.social:hover {
  border: solid 1px var(--secondary-color) !important;
  background-color: rgba(75, 192, 217, 0.1) !important;
  transition: border .25s, color .25s;
}

img {
  width: 26px;
  height: 26px;
  margin: auto;
}

button {
  padding: 8px 20px !important;
  background-color: var(--secondary-color) !important;
  border: none !important;
  border-radius: 0px !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.86;
  color: var(--background-grey) !important;
}

button:hover {
  background-color: var(--secondary-hover-button) !important;
  transition: background-color .25s;
}
